body {
    visibility: hidden;
}

.navmargin {
    margin-top: 1.5em;
}

h2 {
    white-space: normal;
}

@media (max-width: 980px) {
    .page-header {
        padding: 20px 20px;
        margin: 0 0 20px;
        background: #00aaaa;
    }

    .navmargin {
        margin-top: 1.5em;
    }
}
