<head>
  <title>{{ .Site.Title }}</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <meta name="theme-color" content="#000084" />
  <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
  <link rel="canonical" href="{{ .Site.BaseURL }}">
  {{/* Don't ask why it's like this. This original theme is a mess... */}}
  <!-- <noscript><style>body { visibility: visible }</style></noscript> -->
  <script>
    (function (d) {
      var config = {
        kitId: 'dxy6nkj',
        scriptTimeout: 3000,
        async: true
      },
        h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>
</head>
